<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div><a href="/logout">Exit</a></div>
    <form  th:action="@{/admin/update}" th:object="${user}" method="post">
        <input type="text" th:field="*{username}" />
        <input type="text" th:field="*{last_name}" />
        <input type="text" th:field="*{email}" />
        <input type="hidden" th:field="*{id}" />
        <button type="submit" >Save</button>
    </form>
</div>
</body>
</html>